TCS/TCSWebSite/Service References/TCSWcfServiceReference/TCSWcfService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TCSDataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCSDataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dc_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationUser" nillable="true" type="tns:dc_ApplicationUser" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profile" nillable="true" type="tns:dc_Profile" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_User" nillable="true" type="tns:dc_User" />
  <xs:complexType name="dc_ApplicationUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="finishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tryNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_ApplicationUser" nillable="true" type="tns:dc_ApplicationUser" />
  <xs:complexType name="dc_Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="options" nillable="true" type="tns:ArrayOfdc_Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_Profile" nillable="true" type="tns:dc_Profile" />
  <xs:complexType name="ArrayOfdc_Option">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dc_Option" nillable="true" type="tns:dc_Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdc_Option" nillable="true" type="tns:ArrayOfdc_Option" />
  <xs:complexType name="dc_Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="menuOptionAccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="menuOptionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="optionApplication" nillable="true" type="tns:dc_OptionApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_Option" nillable="true" type="tns:dc_Option" />
  <xs:complexType name="dc_OptionApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="levelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="masterOptionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="menuOptionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_OptionApplication" nillable="true" type="tns:dc_OptionApplication" />
</xs:schema>