TCS/TCSWebSite/Service References/TCSWcfServiceReference/TCSWcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsfarancibia.bbt.cl/TCSHost/TCSWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCSDataContract" />
  <xs:element name="ValidUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidUserAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TCSDataContract" minOccurs="0" name="ValidUserAccessResult" nillable="true" type="q1:dc_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>